// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$tablet: 40rem;
$desktop: 80rem;
$widescreen: 120rem;

$color-initial: #fff;
$color-primary: #3490DC;
$color-secondary: #606c76;
$color-tertiary: #f4f5f6;
$color-quaternary: #d1d1d1;
$color-quinary: #e1e1e1;
